* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  background-image: url(https://lof8sc.yourbrand.studio/files/dynamicContent/sites/lof8sc/images/en/webpage_13/m5p6d1a5/element_252/rwdMode_1/2400x700/main.webp);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.navBar {
  display: flex;
}
.navComponents {
  justify-content: space-around;
}
.links {
  justify-content: space-evenly;
  list-style: none;
}
.text {
  text-align: center;
  padding: 50%;
}
